@media(max-width: 767px) {
    .responsive {
        display: none;
    }

    .Titre {
        font-size: 20px;
        margin-top: 62px;
    }

    .Titre2 {
        font-size: 18px;
        margin-top: 74px;
    }

    .Prix {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .CPTicon {
        font-size: 20px;
    }

    .boutonCompteurNB {
        font-size: 16px;
    }

    .CPTbloc {
        margin-top: 56px;
        width: 111px;
    }

    .Description {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .BoutonsAchat {
        align-items: center;
        gap: 8px;
    }

    .Image {
        width: 100%;
    }

    body {
        margin-right: 25px;
        margin-left: 25px;
    }

    .Avis {
        font-size: 16px;
        margin-top: 11px;
    }

    .AvisBloc {
        padding: 15px;
        width: 343px;
    }

    .AvisDes {
        font-size: 13px;
    }

    .Avis2 {
        font-size: 14px;
    }

    .AvisBloc2 {
        gap: 25px;
    }

    .AvisConteneur {
        gap: 15px;
    }

    .Footer {
        margin-top: 74px;
    }

    .Copy {
        margin-top: 44px;
        margin-bottom: 111px;
    }

}

@media(min-width: 767px) {
    .responsive-2 {
        display: none;
    }

    .Titre {
        font-size: 30px;
    }

    .Titre2 {
        font-size: 25px;
        margin-top: 253px;
    }

    .Prix {
        font-size: 25px;
        margin-bottom: 27px;
    }

    .CPTicon {
        font-size: 25px;
    }

    .boutonCompteurNB {
        font-size: 20px
    }

    .CPTbloc {
        margin-top: 37px;
        width: 129px;
    }

    .BoutonsAchat {
        gap: 15px;
    }

    .Description {
        width: 60%;
    }

    .Avis {
        font-size: 18px;
        margin-top: 8px;
    }

    .AvisBloc {
        padding: 20px;
        width: 604px;
    }

    .AvisConteneur {
        gap: 23px;
    }

    .AvisDes {
        font-size: 15px;
    }

    .Avis2 {
        font-size: 16px;
    }

    .AvisBloc2 {
        gap: 35px;
    }

    .Footer {
        margin-top: 219px;
    }

    .Copy {
        margin-top: 111px;
        margin-bottom: 40px;
    }
}

.FlexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GBouton {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 4px;
    width: 343px;
}

.boutonCompteur {
    background-color: #4374EF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bouton {
    display: flex;
    justify-content: center;
    border: solid;
    border-width: 1px;
    background-color: rgb(255, 255, 255, 1);
    border-color: rgba(67, 116, 239, 1);
    border-radius: 1.5rem;
    width: max-content;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 8px;
    padding-bottom: 8px;

}


.text-bouton {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 15px;
    color: #4374EF;
}

.FjallaOne {
    font-family: 'Fjalla One';
    font-weight: 400;
}

.Cabin {
    font-family: 'Cabin';
    font-weight: 400;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.flex-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.headerMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 49px;
}

.header-2 {
    display: flex;
    justify-content: center;
    gap: 15px
}

.header-3 {
    display: flex;
    justify-content: center;
    gap: 20px
}

.titre-header {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 14px;
}